/* makebetter admin css*/

/**
 PLUGINS ADMIN PAGE
*/
#superpwa-reloaded-feedback-overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(120,120,120); /* Black fallback color */
    background-color: rgba(0,0,0, 0.5); /* Black w/opacity */
}
#superpwa-reloaded-feedback-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    max-height: 50%;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
}
.mb-box{display: none;width:100%;}
.superpwa-for-wp-feedback-not-deactivate { display: block; text-align: right; }

#superpwa-reloaded-feedback-content h3{
    margin:5px;
    font-size: 1em;
}

@media screen and (max-width:400px){
    #superpwa-reloaded-feedback-content {
        padding:0px;
        padding-bottom:50px;
    }
}

.superpwa_version{
    font-size: 13px;
    background: #fff;
    padding: 3px 10px;
    border: 1px solid #b3b3b3;
    border-radius: 20px;
    position: relative;
    top: 4px;
    margin-left: 8px;
}

.addon-install .bundled {
    background: #4CAF50;
    padding: 0;
    border-radius: 10px;
    color: #ffffff;
    font-size: 11px;
    position: absolute;
    top: -6px;
    text-transform: uppercase;
    left: -10px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.addon-install .addon_pro{
    background: #ee4721;
    padding: 0;
    border-radius: 10px;
    color: #ffffff;
    font-size: 11px;
    position: absolute;
    top: -6px;
    text-transform: uppercase;
    left: -10px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.superpwa-sub-tab-headings span{
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
}
.superpwa-sub-tab-headings span.selected{color:blue;}

.superpwa-addons-headp{
    font-weight: 600;
    font-size: 16px;
    color: #868686;
}
#the-list .plugin-action-buttons .upgrade{
    background: #fdfc35;
    color: #000;
    border-color: #666;
}
.superpwa_related_applications{
    display: none;
}